.bg {
    background: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

body, html {
    background-color: rgb(0, 0, 0);
    height: 100%;
}

header {
 width: 1024px;
 height: 118px;
 background-color: #22100a6e;
 text-align: center;
}

nav {
    width: 1024px;
    height: 40px;
    background-color: #22100a9a;
    text-align: center;
    padding-top: 40px;
   
}

nav a {
 text-decoration: none;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
 padding-right: 10px;
 padding-left: 10px;
}

main {
    height: 400px;
    background-color: #22100ac0;
    text-align: center;
    padding-top: 20px;
    padding-right: 240px;
    padding-left: 240px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    background-color: #22100a6e;
}

h1 {
    font-size: 84px;
    color: #ec4c4c;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main p {
    width: 600px;
    font-size: 26px;
    color: #ec4c4c;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.maps {
    padding-top: 160px;
    padding-left: 140px;
}

a {
    font-size: 24px;
    color: #ec4c4c;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    }

.blink {
    width:200px;
	height: 50px;
	padding: 15px;	
	text-align: center;
    line-height: 50px;

}

span{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ec4c4c;
    animation: blink 1s linear infinite;
    animation-duration: 2s;
}

@keyframes blink{
    0%{opacity: 0.2;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-align: end;
    text-decoration: none;
}

.fa {
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }